services:
  db:
    image: postgres
    restart: always
    mem_limit: 512m
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: ecom
    volumes:
      - pgdata:/var/lib/postgresql
volumes:
  pgdata:
